@import "dropzone/dist/min/dropzone.min.css";
@import "dropzone/dist/min/basic.min.css";
@import "bootstrap/scss/bootstrap";

.card { 
    margin: 5%;
}

.new-upload {
    margin-top: 5%;
}

.back-button {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}