@import "dropzone/dist/min/dropzone.min.css";
@import "dropzone/dist/min/basic.min.css";
@import "bootstrap/scss/bootstrap";

.card { 
    margin: 5%;
    height: auto;
}

.card-btn {
    position: absolute;
    bottom: 5px;
}

.upload-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(150px, auto);
}

.upload {
    margin-top: 5%;
}

.upload:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.back-button {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}